.tab{
    width:100%;
    border-collapse: collapse;
}

.tab td{
    border: 1px solid #333;
    text-align: center;
}

.btn{
    padding:2px 10px;
    background-color: #3385ff;
    color: #fff;
    border: 1px solid #3385ff;
}