.container{
    width:100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bt{
    padding:5px 10px;
    background-color: #3385ff;
    color: #fff;
    border: 1px solid #3385ff;
}