.container{
    width:70%;
    margin:0 auto;
}

.container+div{
    width: 100%;
}

.logo{
    text-align: center;
}

.search{
    display: flex;
    height: 35px;
    align-items: center;
}

.hint{
    position: relative;
    background-color: #fff;
    z-index: 9999;
}

.box{
    width:100%;
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
}

.result{
    margin-top: 10px;
    padding:10px;
}
/* .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 95%;
    padding:20px;
}

.box{
    height: 35px;
    width:75%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hint{
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
    float: left;
    background-color: #fff;
    padding:15px;
}


.box_border{
    height: 0;
    position: relative;
}

.answer{
    height: 35px;
    width:75%;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
} */